{% extends 'base.html.twig' %}

{% block title %}WildWonderHub{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/carousel.js')}}" defer></script>
{% endblock %}

{% block body %}

    <div class="presentation-base">

        <h1 class="main-title mt-50 mb-50 green">
            Bienvenue sur le site du Zoo de la Palmyre !
        </h1>

        <div class="carousel">
            <div class="carousel-content__nav">
                <img src="{{ asset('images/icons/left-arrow_icon.svg') }}" class="icon-arrows arrow-left" alt="arrow icon" />
                <img src="{{ asset('images/icons/right-arrow_icon.svg') }}" class="icon-arrows arrow-right" alt="arrow icon" />
            </div>
            <div class="carousel-content">
                <div class="carousel-content__item">
                    <img src="{{ asset('images/img-animaux/panda-roux.png') }}" alt="img animal" />
                </div>
                <div class="carousel-content__item">
                    <img src="{{ asset('images/img-animaux/zebres-girafes.png') }}" alt="img animal" />
                </div>
                <div class="carousel-content__item">
                    <img src="{{ asset('images/img-animaux/zoo.png') }}" alt="img animal" />
                </div>
            </div>
        </div>

    </div>

    <div class="presentation-content">
        <h3 class="presentation__title">Qu’est-ce-que le Zoo de la Palmyre ?</h3>

        <div class="presentation-infos mt-50">
            <p class="presentation-infos__text">
                Le Zoo de La Palmyre, situé sur la côte ouest de la France, est l'un des plus grands et des plus renommés
                zoos d'Europe. Fondé en 1966, ce parc zoologique s'étend sur près de 18 hectares au cœur d'une magnifique
                pinède. Il abrite une incroyable diversité d'animaux provenant des quatre coins du globe, offrant ainsi une
                expérience immersive et éducative aux visiteurs de tous âges. Avec plus de 1 600 animaux appartenant à plus
                de 115 espèces différentes (<a class="link" href="{{ path('app_species') }}">que vous pouvez retrouver ici</a>), le zoo s'engage activement dans la conservation et la préservation des espèces
                menacées, tout en offrant des habitats spacieux et naturels pour le bien-être de ses résidents. En plus des
                fascinantes rencontres animalières, les visiteurs peuvent également profiter de spectacles éducatifs,
                d'aires de jeux et d'espaces de restauration au sein de ce véritable havre de biodiversité.
                <br />
                <br />
                Pour toutes questions, n’hésitez pas à consulter notre <a class="link" href="{{ path('app_forum') }}">forum</a> ou <a class="link" href="{{ path('app_presentation') }}">nous contacter</a> à notre adresse mail !
            </p>
            <img src="{{ asset('images/img-animaux/suricates.png') }}" alt="img animal" />
        </div>

        <div class="presentation-practical-infos mt-50">
            <h3 class="presentation__title mb-50">Informations pratiques 🗺
            </h3>
            <p class="presentation-pratical-infos__text center mt-50 mb-100">
                Tournant le dos aux anciennes pratiques des parcs zoologiques, le parc met l'accent sur une amélioration
                constante de la qualité de vie des animaux, et joue un rôle important dans la réintroduction dans leur
                milieu naturel de certaines espèces menacées. Il joue également un rôle pédagogique auprès du visiteur
                en l'informant sur la biologie et le comportement des espèces, ainsi qu'en le sensibilisant aux menaces
                nécessitant de mettre en œuvre des mesures de conservation.
            </p>

            {{ include('components/video.html.twig', {
                'video': asset('images/videos/singe.mp4'),
                'controls': false,
                'label': 'Rencontrez nos singes affamés ! 🐵'
            }) }}

            <div class="practical-infos__content mt-100 mb-100">
                <div class="practical-infos__item">
                    <img src="{{ asset('images/icons/home/hour_icon.svg') }}" alt="hour icon" class="large-icon" />
                    <p class="practical-infos__text">
                        Notre zoo vous est ouvert toute l’année (jours fériés compris) de 9h à 19h du 1er avril au 30 septembre et de 9h à 18h le reste de l'année.</p>
                </div>
                <div class="practical-infos__item">
                    <img src="{{ asset('images/icons/home/localisation_icon.svg') }}" alt="price icon" class="large-icon" />
                    <p class="practical-infos__text">
                        Rendez-vous à l'adresse suivante : <i>6 Avenue de Royan, 17570 Les Mathes</i> pour pouvoir profiter pleinement de notre Zoo !
                    </p>
                </div>
                <div class="practical-infos__item">
                    <img src="{{ asset('images/icons/home/price_icon.svg') }}" alt="localisation icon" class="large-icon" />
                    <p class="practical-infos__text">
                    Le prix d'entrée sans réduction est de 20€.
                    <br />
                    Gratuite pour les enfants de moins de 3 ans, 12€ pour ceux âgés de 3 à 12 ans.
                    Les personnes en situation de handicap peuvent accéder au zoo au tarif de 14€. Les étudiants bénéficient d'un tarif réduit à 15€ tandis que les
                    seniors peuvent profiter de leur visite au tarif de 16€.
                    </p>
                </div>
            </div>

            {{ include('components/video.html.twig', {
                'video': asset('images/videos/pingouins.mp4'),
                'controls': false,
                'label': 'Rencontrez nos pingouins, amateurs de plongée ! 🤿'
            }) }}

        </div>

        <div class="line line-mbc"></div>

        <div class="last-questions">
            <h3 class="presentation__title">Dernières questions posées sur le forum</h3>
            <div class="questions-user">
                <div class="questions-container">
                    {% for question in questions %}
                        <div class="question">
                            {% if question.isResolved %}
                                <div>
                                    <p class="question-state">Question résolue</p>
                                    <img src="{{ asset('images/icons/check_icon.svg') }}" alt="checked" class="basic-icon checked-icon" />
                                </div>
                            {% else %}
                                <p class="question-state">Question non résolue</p>
                            {% endif %}
                            <div class="question__main-infos">
                                <h5 class="question__title">{{ question.title|u.truncate(30, '...') }}</h5>
                                <p class="date-creation">Question créée le {{ question.createdAt|date('d/m/Y') }}</p>
                            </div>
                            <a href="{{ path('app_question_show', {'id': question.id }) }}" class="btn button-primary">
                                Accéder au post
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="line line-mbc"></div>

        <div class="presentation-user mb-100">
            {% if app.user %}
                <h3>Bonjour, {{ app.user.toString() }}!</h3>
                <p class="mt-50">N'hésitez pas à réserver un nouveau ticket pour notre Zoo <a class="link" href="{{ path('app_presentation') }}">ici</a>,
                    ou à consulter vos tickets déjà réservés <a class="link" href="{{ path('app_presentation') }}">ici</a> !
                </p>
                <p>Si vous avez la moindre question concernant le fonctionnement de notre Zoo, consultez notre forum <a class="link" href="{{ path('app_forum') }}">ici</a> et créez un post !</p>
            {% else %}
                <h5>Connectez-vous ou inscrivez-vous pour profiter pleinement des fonctionnalités que peut proposer le Zoo de la Palmyre !</h5>
                <p>Si vous avez la moindre question concernant le fonctionnement de notre Zoo, consultez notre forum <a class="link" href="{{ path('app_forum') }}">ici</a> et créez un post !</p>
                <div class="mt-50">
                    <a class="btn button-secondary" href="{{ path('app_register') }}">S'inscrire</a>
                    <a class="btn button-primary" href="{{ path('app_login') }}">Se connecter</a>
                </div>
            {% endif %}
            {% if app.user %}
                {% if app.user.isAdmin() %}
                    <a class="btn button-admin" href="{{ path('admin') }}">Accès administratif</a>
                {% endif %}
            {% endif %}
        </div>

    </div>

{% endblock %}
