{% extends 'base.html.twig' %}

{% block title %} Modification du ticket N°{{ ticket. id }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Ticket.css')}}" type="text/css">
{% endblock %}

{% block body %}

<div>
    <h1 class="main-title">Modification du ticket</h1>

    <a href="{{ path('app_ticket')}}" class="link mbc">
        <img src="{{ asset('images/icons/back_icon.svg') }}" alt="back icon" class="basic-icon back-icon" />
        Retour
    </a>

    <div class="mt-50">

        {{ form_start(form_mdt) }}

        {{ form_row(form_mdt.date)}}
        {{ form_row(form_mdt.type)}}

        {{ form_end(form_mdt) }}

        {{ include('components/modal.html.twig', {
            form: form_delt,
            modalQuestion: 'Êtes-vous sûr de vouloir supprimer ce ticket?',
            modalAction: 'Supprimer',
            fullWidth: true
        }) }}

    </div>

</div>

{% endblock %}