{#
ticket: Ticket,
available: boolean
#}

{% set tomorrow = "tomorrow"|date("Y-m-d") %}
{% set ticketDate = ticket.date|date("Y-m-d") %}

<div class="ticket {{ ticketDate == "now"|date("Y-m-d") ? "planned-ticket" : "" }}">
    <div class="ticket-content">
        <div class="ticket-content__top">
            <p>
                {{ ticketDate < "now"|date("Y-m-d")
                    ?
                    "Passé"
                    :
                    (ticketDate == "now"|date("Y-m-d") ? "Aujourd'hui" : (ticketDate == tomorrow ? "Demain" : "Bientôt"))
                }}
            </p>
            {% if available %}
                {{ include('components/dropdown.html.twig' ,
                    {
                        'actions': [
                            {
                                'label': 'Récapitulatif',
                                'path': path('app_ticket_id', {"id": ticket.id })
                            }
                        ],
                    }
                ) }}
            {% else %}
                {{ include('components/dropdown.html.twig' ,
                    {
                        'actions': [
                            {
                                'label': 'Récapitulatif',
                                'path': path('app_ticket_id', {"id": ticket.id })
                            },
                            {
                                'label': 'Modifier',
                                'path': path('app_ticket_update', {"id": ticket.id })
                            }
                        ],
                    }
                ) }}
            {% endif %}
        </div>
        <div class="ticket-content__middle">
            <img src="{{ asset('images/Sae_Zoo_Image/LogoSAE_Zoo.png') }}" alt="logo" class="logo" />
        </div>
        <div class="ticket-content__bottom">
            <div class="content__bottom-left">
                <p>{{ ticket.price }}€</p>
            </div>
            <div class="content__bottom-right">
                <p>{{ ticket.date|date('d-m-Y') }}</p>
                <p>{{ ticket.type }}</p>
            </div>
        </div>
    </div>
</div>